<header>
    <nav>
        <ul>
            <li>
                <a 
                    routerLinkActive="active" 
                    routerLink=""
                    ariaCurrentWhenActive="page"
                >
                main
            </a>
            </li>
            <li>
                <a 
                    routerLinkActive="active" 
                    routerLink="/contact"
                    ariaCurrentWhenActive="page"
                >
                contact
            </a>
            </li>
            <li>
                <a 
                    routerLinkActive="active" 
                    routerLink="/about"
                    ariaCurrentWhenActive="page"
                >
                about
            </a>
            </li>
        </ul>
    </nav>
</header>