.product-card {

    .product-image {
        width: 60%;
        margin: 0 auto;
        display: block;
    }
    .product-title {
        margin: 20px 0;
        text-align: center;
    }
    .product-description {

    }
}
