:host {
    display: flex;
}
.sidebar {
    font-family: 'Lato', sans-serif;
    min-width: 150px;
    border-right: 2px solid black;
    padding: 20px 10px;
    h3 {
        text-align: center;
        margin: 10px 0;
        font-size: 20px;
        text-transform: capitalize;
    }
    ul {
        li {
            margin-bottom: 10px;
            button {
                display: block;
                width: 100%;
                background-color: #9e9393;
                padding: 4px 8px;
                border-radius: 5px;
                transition: .3s;
                &.active-category {
                    font-size: 15px;
                    font-weight: bold;
                }
                &:hover {
                    background-color: #dfcbcb;
                }
            }
        }
    }
}
.product-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
    
}