

 
    <div class="sidebar">
        @if(noCategories) {
            <app-loader></app-loader>
        }@else {
            <h3>categories</h3>
            <ul>
                <li>
                    <button [class]="{'active-category': currentCategory === null}" (click)="getAllProducts()">show all products</button>
                </li>
               
                @for(category of categories; track category) {
                <li>
                    <button [class]="{'active-category': currentCategory === category}" (click)="filterByCategory(category)">{{category}}</button>
                </li>
                }
            </ul>
            
        }
    </div>


@if(noProducts) {
    <app-loader></app-loader>
}@else {
    <div class="product-card-wrapper">
        @for (product of products; track product.id) {
        <app-product-card [product]="product"></app-product-card>
        }
    </div>
}
